body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 500;
  color: #878787;
  line-height: 40px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 6px;
}

.weather-info {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 60px;
  width: 60px;
  margin-bottom: 31px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 61px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -31px;
}

.extra-info {
  border: none;
  text-align: center;
  border-radius: 16px;
  box-shadow: 1px 1px 6px rgb(120 151 173 / 40%);
  padding: 6px 0px;
  margin: 12px -8px 15px 15px;
  font-size: 15px;
  font-weight: 500;
  color: #7c7c7c;
}

.today-temp {
  margin: 25px auto;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 6px rgb(120 151 173 / 40%);
  padding: 9px 5px;
  border-radius: 13px;
  color: #7c7c7c;
}

.daily-temp {
  margin: 25px auto;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 6px rgb(120 151 173 / 40%);
  padding: 9px 5px;
  border-radius: 13px;
  color: #7c7c7c;
}

fas {
  font-size: 25px;
  font-weight: 700;
  color: white;
}
